<div class="row {{ event.system | replace({'.': '_'}) }}">

    {#% include "KoalamonIncidentDashboardBundle:Default:partials/options.html.twig" %#}

    <div class="status {{ event.status }}">&nbsp;</div>

    <div class="message">
        {% if event.status == "success" %}
            {% if event.type %}
                {{ event.type }}
            {% endif %}
        {% else %}
            {{ event.message | raw }}
        {% endif %}
        {% if event.url != "" %}
            <a href="{{ event.url }}" target="_blank">
                <span class="tool-button" style="background-color: #95a5a6">Link</span>
            </a>
        {% endif %}
        <div class="info">
            <img src="{{ asset('bundles/koalamondefault/images/calendar.png') }}">

            <p>last update {{ event.created | time_diff }}
                {% if event.lastStatusChange %}
                    ,
                    {% if event.status == "success" %}
                        last failure
                    {% else %}
                        last success
                    {% endif %}
                    {{ event.lastStatusChange| time_diff }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="identifier">
        <a href="{{ path("bauer_incident_dashboard_core_systems", {"project": project.identifier} ) }}#{{ event.system }}">{{ event.system }}</a>
    </div>

    <div class="tool">{{ event.type }}</div>

    <div class="option" style="float: right; text-align: right; width: 80px">
        {% if not app.user is null and app.user.hasUserRole(project, constant('Koalamon\\Bundle\\IncidentDashboardBundle\\Entity\\UserRole::ROLE_COLLABORATOR')) %}
            {% if event.status == "failure" %}
                {% set ignored = event.eventIdentifier.ignoredIssue %}
                {% set known = event.eventIdentifier.knownIssue %}

                <a class="confirm" data-message="Are you sure you want to {{ known ? 'un' : '' }}mark this incident as known issue?"
                   href="{{ path(known ? "koalamon_default_event_knownissue_unmark" : "koalamon_default_event_knownissue_mark", { "eventIdentifier": event.eventIdentifier.id }) }}"
                   title="{{ known ? "Unmark" : "Mark" }} as known issue">
                    <img src="{{ asset("bundles/koalamondefault/images/check.jpg") }}" width="15" style="float: left"/>
                </a>
                <a href="{{ path(ignored ? "koalamon_default_event_ignoredissue_unmark" : "koalamon_default_event_ignoredissue_mark", { "eventIdentifier": event.eventIdentifier.id }) }}"
                   title="{{ ignored ? "Unmark" : "Mark" }} as ignored issue">
                    <img src={{ ignored ? asset("bundles/koalamondefault/images/unignore.png") : asset('bundles/koalamondefault/images/ignore.png') }} width="15" style="float: left"/>
                </a>
                <a class="confirm" data-message="Are you sure you want to close this incident?"
                   href="{{ path("bauer_incident_dashboard_core_close", { "project": project.identifier, "event": event.id }) }}" title="Close issue">
                    <img src="{{ asset('bundles/koalamondefault/images/close.jpg') }}" width="15" style="float: left"/>
                </a>

            {% endif %}
        {% endif %}
        {% if not event.unique %}
            <a href="" onclick="drawChart('{{ event.id }}', 'stats-{{ event.id }}'); return false;">
                <img src="{{ asset('bundles/koalamondefault/images/stats.jpg') }}" width="15" style="float: left"/>
            </a>
        {% endif %}
    </div>

    <div class="stats" id="stats-{{ event.id }}"></div>
</div>
