{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}

    <form action="{{ path('koalamon_gecko_board_filter', { 'project': project.identifier}) }}" method="post">

        <select required="required" name="system">
            <option selected disabled>Select a System</option>
            {% for system in project.systems %}
                <option value="{{ system.id }}">{{ system.name }}</option>
            {% endfor %}
        </select>

        <select required="required" name="tool">
            <option selected disabled>Select a Tool</option>
            {% for tool in project.tools %}
                <option value="{{ tool.id }}">{{ tool.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="filter">

        {% if eventIdentifiers is defined %}
            <div style="margin-top: 30px">
                <div>System: {{ system.name }}</div>
                <div> Tool: {{ tool.name }}</div>

                <h3 style="margin-top: 50px">Matching Identifier</h3>
                <div style="margin-top: 20px">
                    {% for eventIdentifier in eventIdentifiers %}
                        <div style="width: 500px; float: left;">{{ eventIdentifier.identifier }}</div>
                        <div>URL data feeds: <a href="{{ path('koalamon_gecko_board_linechart', { 'eventIdentifier': eventIdentifier.id }) }}">line chart</a></div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </form>

{% endblock %}