{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}

    <form action="{{ path('koalamon_gecko_board_filter', { 'project': project.identifier}) }}" method="post">

        <select required="required" name="system">
            <option selected disabled>Select a System</option>
            {% for system in project.systems %}
                <option value="{{ system.id }}">{{ system.name }}</option>
            {% endfor %}
        </select>

        <select required="required" name="tool">
            <option selected disabled>Select a Tool</option>
            {% for tool in project.tools %}
                <option value="{{ tool.id }}">{{ tool.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="filter">

        {% if eventIdentfiers is defined %}
            {% for eventIdentifier in eventIdentifiers %}
                {{ eventIdentifer.identifier }}
            {% endfor %}
        {% endif %}

    </form>

{% endblock %}