<meta charset="UTF-8"/>
<title>{% block title %}Incident Management{% endblock %} - KOALAMON</title>
{% block stylesheets %}{% endblock %}

<!-- external fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>

<!-- external javascript libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!-- toastr flash messages-->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<!-- koalamon icons -->
<link rel="icon" type="image/png" href="/favicon-logo.png">

<!-- koalamon css files -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% stylesheets '@KoalamonDefaultBundle/Resources/public/css/*' %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}

<!-- koalmon scss files -->
{% stylesheets filter="scssphp" output="css/default.css" "@KoalamonDefaultBundle/Resources/assets/scss/*.scss" %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

<!-- fosuser js rounting bundle -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<!-- koalamon js files -->
{% javascripts '@KoalamonDefaultBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>

<script>
    {% if project is defined and not project is null %}
    var project_incident_count = {{ project.openIncidentCount }};
    {% else %}
    var project_incident_count = 0;
    {% endif %}
</script>