{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}

    <script>
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function renderSystem(id, identifier, url, name, desc, parent) {
            var table = document.getElementById('admin-system');

            if (id) {
                var newRow = table.insertRow(-1);
            } else {
                var row = document.getElementById("id" + parent).parentNode.parentNode;
                var newRow = document.createElement('tr');
                row.parentNode.insertBefore(newRow, row.nextSibling);
            }

            var att = document.createAttribute("id");
            att.value = 'row_' + id;
            newRow.setAttributeNode(att);                          // Add the class attribute to <h1>

            if (id) {
                var systemId = id;
            } else {
                var systemId = getRandomInt(0, 100000);
            }

            var cell0 = newRow.insertCell(0);

            if (parent) {
                cell0.innerHTML = '<span style="font-weight: normal; margin-left: 70px">Subsystem</span><input type="hidden" id="id' + systemId + '" value="' + id + '"><input type="hidden" id="parent' + systemId + '" value="' + parent + '">';
            } else {
                cell0.innerHTML = '<input type="hidden" id="id' + systemId + '" value="' + systemId + '"><input name="identifier" required id="identifier' + systemId + '" value="' + identifier + '" />';
            }

            var cell1 = newRow.insertCell(1);
            cell1.innerHTML = '<input name="name" id="name' + systemId + '" value="' + name + '"/>';


            var cell2 = newRow.insertCell(2);
            cell2.innerHTML = '<input type="url" name="url" id="url' + systemId + '" required value="' + url + '"/>';


            var cell3 = newRow.insertCell(3);
            cell3.innerHTML = '<input name="description" style="width: 300px; margin-right: 25px" id="description' + systemId + '" value="' + desc + '"/>';

            var cell4 = newRow.insertCell(4);
            storeButton = '<div class="button" style="margin-left: 0; width: auto; display: inline; margin-right: 5px" onclick="storeSystem(' + systemId + ')">store</div>';
            deleteButtonMainSystem = '<div class="button confirm" style="margin-left: 0; width: auto; display: inline; margin-right: 5px" onclick="deleteSystem(' + systemId + ')">delete</div>';
            deleteButtonSubSystem = '<div class="button confirm" style="margin-left: 0; width: auto; display: inline; margin-right: 5px" onclick="deleteSystem(' + systemId + ', true)">delete</div>';
            addSubSystemButton = '<div class="button" style="margin-left: 0; width: auto; display: inline; margin-right: 5px" onclick="addSubSystem(' + systemId + ')">add subsystem</div>';

            if (parent) {
                cell4.innerHTML = storeButton + deleteButtonSubSystem;
            } else {
                cell4.innerHTML = addSubSystemButton + storeButton + deleteButtonMainSystem;
            }

        }

        function addSubSystem(systemId) {
            renderSystem('', '', '', '', '', systemId);
        }

        function storeSystem(element, reload) {
            url = '{{ path('koalamon_default_admin_system_store', { 'project': project.identifier }) }}';

            $.post(url, {
                'system': {
                    id: $("#id" + element).val(),
                    parent: $("#parent" + element).val(),
                    identifier: $("#identifier" + element).val(),
                    url: $("#url" + element).val(),
                    name: $("#name" + element).val(),
                    description: $("#description" + element).val(),
                    elementId: element
                }
            }).done(function (data) {
                if (data['status'] == 'failure') {
                    toastr.warning(data['message']);
                } else {
                    toastr.success(data['message']);
                    $('#id' + data['elementId']).val(data['id']);
                    if (reload) {
                        location.reload();
                    }
                }
            });
        }

        function deleteSystem(element, mainSystem) {
            var url = '{{ path('koalamon_default_admin_system_delete', { 'project': project.identifier }) }}';
            var id = $('#id' + element).val();

            if (id) {
                $.post(url, {
                    'system_id': id
                }).done(function (data) {
                    if (data['status'] == 'failure') {
                        toastr.warning(data['message']);
                    } else {
                        toastr.success(data['message']);
                        data['deletedIds'].forEach(function (entry) {
                            $('#row_' + entry).remove();
                        });
                    }
                });
            } else {

                $('#row_' + data['id']).remove();
            }
        }
    </script>
    {#
        <style>
            .box {
                background-color: #f9f9f9;
                border: 1px solid #bbb;
                padding: 20px;
                margin-bottom: 10px;
            }

            .system-element-container {
                margin-bottom: 50px;
                width: 370px;
                margin-right: 50px;
            }

            .system-element-container .system-list-element {
                margin-bottom: 10px;
            }

            .system-element-container label {
                width: 100px;
                display: block;
                float: left;
                font-size: 12px;
                padding-top: 3px;
            }

            .system-element-container .system-list-element input {
                width: 200px;
            }

            .system-list .system-list-element div {
                padding-bottom: 10px;
            }

            .system-image {
                text-align: center;
                margin-bottom: 20px;
                height: 390px;
            }

            .system-image img {
                width: 200px;
            }

            .system-element-container textarea {
                width: 200px;
                border-color: #bbb;
                resize: none;
                height: 50px;
            }

            .system-element-container input[type="submit"], button {
                margin-left: 100px;
                width: 205px;
                float: none;
                display: block;
                margin-bottom: 10px;
            }

            .system-list-subsystem {
                margin-left: 105px;
                font-size: 12px;
                padding-top: 2px;
            }

            .system-element-container .system-list-element h2 {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 19px;
                text-align: center;
            }

            .system-element-container h3 {
                text-transform: none;
                font-size: 15px;
                margin-left: 15px;
            }

            .system-element-container h4 {
                text-transform: none;
                font-size: 15px;
                font-weight: 400;
                margin: 0;
            }

            .system-element-container {
                float: left;
            }
        </style>

        <div class="content" id="admin-systems">
            <h1>Systems</h1>

            <p>Lorem ipsum</p>

            <div class="system-list" style="width: {{ systems|length * 500 }}px">
                {% for system in systems %}
                    <div class="system-element-container">
                        <div class="system-list-element box" id="system-{{ system.id }}">
                            <h2>{{ system.name }}</h2>
                            <input type="hidden" value="{{ system.id }}" id="system-id-{{ system.id }}">

                            <div class="system-image">
                                {% if system.image %}
                                    <img src="{{ path('koalamon_screenshot_get', {'project': project.identifier, 'systemIdentifier': system.identifier}) }}">
                                {% endif %}
                            </div>
                            <div><label for="system-identifier-{{ system.id }}">Identifier</label> <input type="text" value="{{ system.identifier }}" id="system-identifier-{{ system.id }}"></div>
                            <div><label for="system-name-{{ system.id }}" style="font-weight: 800">Name</label> <input type="text" value="{{ system.name }}" id="system-name-{{ system.id }}"></div>
                            <div><label for="system-url-{{ system.id }}">URL</label> <input type="url" name="" value="{{ system.url }}" id="system-url-{{ system.id }}"></div>
                            <div>
                                <label for="system-desc-{{ system.id }}">Description</label>
                                <textarea id="system-desc-{{ system.id }}">{{ system.description }}</textarea>
                            </div>
                            <div>
                                <input type="submit" value="delete" onclick="deleteSystem({{ system.id }})">
                                <input type="submit" value="store" onclick="storeSystem({{ system.id }}, false);">
                            </div>
                        </div>
                        <h3><strong>Subsystems</strong> (add new)</h3>
                        {% for subsystem in system.subsystems %}
                            <div class="box">
                                <h4>{{ subsystem.name }}</h4>
                                <div class="system-list-subsystem">{{ subsystem.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div style="clear: both"></div>
    #}
    <div class="box-element">
        <div class="box-element-header">Systems</div>
        <div class="box-element-content">

            <style>
                tr {
                    line-height: 25px;
                }

                tr .button {
                    font-weight: 200;
                }
            </style>

            <table id="admin-system">
                <thead>
                <td>Identifier</td>
                <td>Name</td>
                <td>Url</td>
                <td>Description</td>
                <td>Actions</td>
                </thead>

                <script>
                    {% for system in systems %}
                    renderSystem({{ system.id }}, '{{ system.identifier }}', '{{ system.url }}', '{{ system.name }}', '{{ system.description }}');
                    {% for subsystem in system.subsystems %}
                    renderSystem({{ subsystem.id }}, '{{ subsystem.identifier }}', '{{ subsystem.url }}', '{{ subsystem.name }}', '{{ subsystem.description }}', {{ system.id }});
                    {% endfor %}
                    {% endfor %}
                </script>
                <tr>
                    <form method="post" action="{{ path("koalamon_default_admin_system_store", {"project": project.identifier}) }}" name="system_form_new">
                        <td>
                            <input type="hidden" id="id_new">
                            <input id="identifier_new" placeholder="Identifier" required/>
                        </td>
                        <td><input id="name_new" placeholder="Name"/></td>
                        <td><input type="url" id="url_new" placeholder="URL" required/></td>
                        <td><input style="width: 300px; margin-right: 25px" id="description_new" placeholder="Description"/></td>
                        <td>
                            <div class="button" style="margin-left: 0; width: auto; display: inline" onclick="storeSystem('_new', true)">store</div>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}